<%-include('head.html') -%>
<!-- //navigation -->
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="/shop"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>家</a></li>
				<li class="active">单页</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
	<div class="products">
		<div class="container">
			<% shop.forEach(i =>{%>
			<div class="agileinfo_single">
				<div class="col-md-4 agileinfo_single_left">
					<img id="example" style="height:300px;width: 300px;" src='<%= i.image%>' alt=" " class="img-responsive">
				</div>
				<div class="col-md-8 agileinfo_single_right">
				<h2><%= i.name%></h2>
					<div class="rating1">
						<span class="starRating">
							<input id="rating5" type="radio" name="rating" value="5">
							<label for="rating5">5</label>
							<input id="rating4" type="radio" name="rating" value="4">
							<label for="rating4">4</label>
							<input id="rating3" type="radio" name="rating" value="3" checked="">
							<label for="rating3">3</label>
							<input id="rating2" type="radio" name="rating" value="2">
							<label for="rating2">2个</label>
							<input id="rating1" type="radio" name="rating" value="1">
							<label for="rating1">1个</label>
						</span>
					</div>
					<div class="w3agile_description">
						<h4>描述 ：</h4>
						<p><%= i.shop_text%></p>
					</div>
					<div class="snipcart-item block">
						<div class="snipcart-thumb agileinfo_single_right_snipcart">
							<h4 class="m-sing">$ <%= i.price%><span>$ <%= i.ori_price%></span></h4>
						</div>
						<div class="snipcart-details agileinfo_single_right_details">
								<fieldset>
									<input type="hidden" name="cmd" value="_cart">
									<input type="hidden" name="add" value="1">
									<input type="hidden" name="business" value=" ">
									<input type="hidden" name="item_name" value="<%= i.name%>">
									<input type="hidden" name="amount" value="<%= i.price%>">
									<input type="hidden" name="discount_amount" value="">
									<input type="hidden" name="currency_code" value="USD">
									<input type="hidden" name="return" value=" ">
									<input type="hidden" name="cancel_return" value=" ">
									<input type="submit"  name="submit11" value="Add to cart" class="button  sub" data-id="<%= shop.id%>" />
								</fieldset>
								<a style="position: absolute;height: 115px;left: 263px;" href="/gou/remark/<%= shopId%>">>>>查看评论</a>
						</div>
					</div>
					<div>
						
					</div>
				</div>
				<%})%>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- new -->
	<div class="newproducts-w3agile">
		<div class="container">
			<h3>新优惠</h3>
				<div class="agile_top_brands_grids">
					<% shope.forEach(i =>{%>
					<div class="col-md-3 top_brand_left-1">
						<div class="hover14 column">
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid_pos">
									<img src="/images/images/offer.png" alt=" " class="img-responsive">
								</div>
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a href="/shop/single/<%= i.id %>"><img title=" " style="height:150px;width: 150px;" alt=" " src="<%= i.image%>"></a>		
												<p><%= i.name%></p>
												<div class="stars">
													<i class="fa fa-star blue-star" aria-hidden="true"></i>
													<i class="fa fa-star blue-star" aria-hidden="true"></i>
													<i class="fa fa-star blue-star" aria-hidden="true"></i>
													<i class="fa fa-star blue-star" aria-hidden="true"></i>
													<i class="fa fa-star gray-star" aria-hidden="true"></i>
												</div>
													<h4>$ <%= i.price%><span>$ <%= shop.ori_price%></span></h4>
											</div>
											<div class="snipcart-details top_brand_home_details">
												<!-- <form action="#" method="post"> -->
													<fieldset>
														<input type="hidden" name="cmd" value="_cart">
														<input type="hidden" name="add" value="1">
														<input type="hidden" name="business" value=" ">
														<input type="hidden" name="item_name" value="<%= shop.name%>">
														<input type="hidden" name="amount" value="<%= shop.price%>">
														<input type="hidden" name="discount_amount" value="">
														<input type="hidden" name="currency_code" value="USD">
														<input type="hidden" name="return" value=" ">
														<input type="hidden" name="cancel_return" value=" ">
														<input type="submit"  name="submit11" value="Add to cart" class="button  sub" data-id="<%= shop.id%>" />
													</fieldset>
												</form>
											</div>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
					<%})%>
					</div>
						<div class="clearfix"> </div>
				</div>
		</div>
	</div>
<!-- //new -->
<!-- //footer -->

<%-include('footer.html') -%>