<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		
			<link rel="stylesheet" href="/stylesheets/css1/amazeui.min.css">
		<link rel="stylesheet" href="/stylesheets/css1/admin.css">
		<link rel="stylesheet" href="/stylesheets/css1/app.css">
        <link rel="stylesheet" href="/stylesheets/bootstrap.css">
		<script src="/javascripts/js2/jquery-1.11.3.min.js"></script>	
		<style>
			.admin-main{
				padding-top: 0px;
			}
		</style>
	</head>
	<body>
		
		<div class="am-cf admin-main">
			<!-- content start -->
			<div class="admin-content">
				<div class="admin-content-body">
					<div class="am-g">
                        <% info.forEach(i=>{%>
						<form class="am-form am-form-horizontal" method="POST" action="/myself/upa" style="padding-top: 30px;">
							<input value="504" name="roleId" type="hidden">
							<div class="am-form-group">
								<label for="user-name" class="am-u-sm-3 am-form-label">
									用户名称
								</label>
								<div class="am-u-sm-9">
									<input  rows="" cols="50" name="name"  pattern="[\u4e00-\u9fa5\w]+" placeholder="姓名(请输入中文)" value="<%= i.user_name%>" type="text"  required />
								</div>
							</div>
							<div class="am-form-group">
								<label for="user-name" class="am-u-sm-3 am-form-label">
									用户邮箱
								</label>
								<div class="am-u-sm-9">
									<input rows="" cols="50" name="email" value="<%= i.email%>" ></input>
								</div>
							</div>
							<div class="am-form-group">
								<label for="user-name" class="am-u-sm-3 am-form-label">
									原密码
								</label>
								<div class="am-u-sm-9">
									<input rows="" name="old_paw"  cols="50"  ></input>
								</div>
							</div>
                            <div class="am-form-group">
								<label for="user-name" class="am-u-sm-3 am-form-label">
									新密码
								</label>
								<div class="am-u-sm-9">
									<input rows="" name="new_paw"  cols="50"  pattern="^[0-9a-zA-z_]{6,}$" placeholder="密码(长度要大于6位，由数字和字母组成)" ></input>
								</div>
							</div>

							<div class="am-form-group">
								<div class="am-u-sm-9 am-u-sm-push-3">
									<button type="button" onclick="chack()" class="btn btn-info">返回商品主页</button>
                                    <button type="submit" class="btn btn-success">保存设置</button>
								</div>
							</div>
						</form>
                        <%})%>
					</div>
				</div>
			</div>	
		</div>
	</body>
	<script>
		function chack(){
            window.location.href = '/shop'
        }
	</script>
	<script type="text/javascript" src="/javascripts/js2/test.js"></script>

</html>
